USE [master]
GO
/****** Object:  Database [WebL]    Script Date: 6/21/2022 12:22:18 PM ******/
CREATE DATABASE [WebL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebL', FILENAME = N'C:\Users\ADMIN\Documents\Database SQL\MSSQL13.MSSQLSERVER\MSSQL\DATA\WebL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebL_log', FILENAME = N'C:\Users\ADMIN\Documents\Database SQL\MSSQL13.MSSQLSERVER\MSSQL\DATA\WebL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebL]
GO
USE [WebL]
GO
/****** Object:  Table [dbo].[webl]    Script Date: 6/21/2022 12:22:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[address] [nvarchar](150) NULL,
	[phone] [nvarchar](11) NULL,
 CONSTRAINT [PK_webl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
